.main-header {
  width: 100%;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.main--desc {
  width: 600px;
}

.main-header .main--desc .desc--title {
  font-size: 3rem;
  margin-top: 60px;
}

.responsive-title {
    font-size: 2.5rem;
}

.botones {
  flex-direction: row;
}

.botones button {
  margin: 20px;
}

/* Snippets Section */

.main--snippets {
  display: flex;
  flex-wrap: wrap;
}

.main--snippets article:first-child {
  width: 60%;
}

.main--snippets .des--snippets {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.section-devices {
  width: 500px;
}

.main--snippets figure {
  width: 50%;
}

.main--snippets .des--snippets-container {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

/* Sponsors Section */
.main--sponsors {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 0;
  column-gap: 60px;
  margin-top: 100px;
  align-items: center;
  padding: 20px;
}

/* Features Section */
.main--features .features--container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin-top: 60px;
}

.features--sub-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.features--sub-container article {
  width: auto;
  padding: 0px 60px 60px 60px;
  align-content: flex-start;
}

/* Downloads Section*/
.main--downloads {
  grid-template-rows: repeat(3, auto);
}

/* Footer Section*/
.main--footer {
  grid-template-columns: repeat(3, auto);
}

.main--footer .footer--links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: start;
  column-gap: 60px;
}
