.main--header {
    background-image : url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size  : auto;
}

.main--desc {
    width: 600px;
}

.botones {
    flex-direction: row;
}

.botones button {
    margin: 20px;
}

/* Snippets Section */
.main--snippets {
    grid-template-rows: repeat(2, auto);
}

.main--snippets .des--snippets {
    display           : grid;
    grid-template-rows: repeat(2, auto);
}

/* Sponsors Section */
.main--sponsors {
    display              : grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows   : 0;
    column-gap           : 60px;
    margin-top           : 100px;
    align-items          : center;
    padding              : 20px;
}

/* Downloads Section*/
.main--downloads {
    grid-template-rows: repeat(3, auto);
}